@import '../../../App.css';

.score--card {
  max-width: none;
  max-height: none;
  margin: 2rem auto;
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  border-radius: 5px;
}
.score--banner {
  width: 20%;
  height: 20%;
}
.score--content {
  vertical-align: center;
}
.card__content {
  font-size: 1.15rem;
}
.alert {
  margin: 1rem 0 0.5rem 0;
  border-radius: 5px;
  padding: 0.85rem 0;
  text-align: center;
}
.submenu__name {
  margin: 0;
}
.attempted--title {
  margin: auto;
}

/* Quiz Card */
.attempt__card {
  max-width: 90%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--white--off);
  border: 1px solid var(--primary);
  border-radius: 5px;
}
.attempt__banner {
  width: 40%;
  height: 10rem;
}
.attempt__title {
  font-size: 1.5rem;
  color: var(--text);
  font-weight: 600;
  text-transform: uppercase;
}
.attempt__subtitle {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: var(--text);
  font-weight: 500;
}
.attempt__content {
  width: 90%;
  color: var(--text);
  font-weight: 500;
  text-align: justify;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .score--card,
  .attempted--title {
    width: 50%;
  }
}
