@import url('https://apolloui-neog.netlify.app/utility/common.css');
@import url('https://apolloui-neog.netlify.app/components/drawer/drawer.css');
@import url('https://apolloui-neog.netlify.app/components/modal/modal.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
  --background: #1f2839;
  --white--off: rgb(243, 243, 243);
  --text: #1b2333;
  --score--text: rgb(238, 160, 15);
  --white--text: rgb(243, 243, 243);
  --secondary: #f7cc21;
  --tertiary: rgb(238, 160, 15);
  --tertiary--hover: rgb(223, 154, 27);
  --white: #ffffff;
  --green: rgb(62, 169, 62);
  --red: #b80c28;
  --yellow: goldenrod;
  --navbar--font: 'Allerta Stencil', sans-serif;
}

[app-theme='light'] {
  --background: rgb(195, 195, 195);
  --white--off: rgb(243, 243, 243);
  --white--text: #1f2839;
  --score--text: #1f2839;
}
[app-theme='light'] .title {
  --white--off: #1f2839;
}
[app-theme='light'] .subtitle {
  --code-span: #1f2839;
}

html {
  font-size: 88%;
  height: 100vh;
}
body {
  background-color: rgb(195, 195, 195);
}

.App {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  transition: all 200ms;
}

/* Colors */
.text {
  color: var(--text);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.35rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  height: 100%;
  width: fit-content;
  background-color: var(--primary--light);
}

/* Buttons */
.btn {
  margin: 1rem 0;
}
.btn--auth {
  color: var(--text);
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.btn--auth:hover {
  border: 2px solid var(--tertiary);
  background-color: var(--tertiary);
}
.btn--auth--solid {
  color: var(--white);
  background-color: var(--tertiary);
  border: 2px solid var(--tertiary);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  transition: all 100ms;
}
.btn--auth--solid:hover {
  border: 2px solid var(--tertiary--hover);
  background-color: var(--tertiary--hover);
}
.btn--disabled,
.btn--disabled:hover {
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--black);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
}
.btn--cancel,
.btn--cancel--solid,
.btn--cancel--solid:hover {
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.btn--cancel--solid,
.btn--cancel:hover {
  color: var(--white);
  background-color: var(--red);
  border: 2px solid var(--red);
}

.btn--round {
  padding: 0.75rem 0.45rem;
  border-radius: 50%;
}

/* Navbar */
.navbar {
  background-color: var(--white);
  border-bottom: var(--heading);
}
.search--ctr {
  width: 90%;
  border-radius: 5px;
  background-color: var(--white);
}
.search--ctr:hover {
  border: 2px solid var(--primary--light);
}

/* Card Styling */
.title,
.subtitle {
  color: var(--white--off);
  margin: 0.5rem 0;
}
.subtitle {
  color: var(--code-span);
}
.category {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 0.75rem 1rem;
}
.card {
  border: none;
  border-radius: 0;
  width: 80%;
  cursor: pointer;
}
.card__banner {
  border-radius: 0;
}
.card__title {
  margin: 0.5rem 0.75rem;
}
.card__content {
  padding-bottom: 1rem;
  margin: 0 1rem;
}
/* common */
.forgot {
  color: var(--button-float);
}

/* Media Query */
@media screen and (min-width: 768px) {
  .card {
    min-height: 20rem;
    width: auto;
  }
  .menu__btn__name {
    display: inline;
  }
}

@media screen and (min-width: 1650px) {
  body {
    width: auto;
    margin: auto;
  }
}
