@import url('https://apolloui-neog.netlify.app/utility/common.css');
@import url('https://apolloui-neog.netlify.app/components/drawer/drawer.css');
@import url('https://apolloui-neog.netlify.app/components/modal/modal.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
  --background: #1f2839;
  --white--off: rgb(231, 219, 219);
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

/* Navbar */
.navbar {
  background-color: var(--white);
  border-bottom: var(--heading);
}
.search--ctr {
  width: 90%;
}
.submenu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0rem;
  z-index: 110;
  background-color: var(--white);
  border: 1px solid var(--border);
  transition: display 500ms;
}
.submenu__btn {
  display: flex;
}
.submenu__item {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  font-size: 1em;
  font-weight: bold;
  text-align: start;
  color: var(--heading);
}
.submenu__item:hover {
  background-color: var(--button-light);
}
.menu__btn:hover ~ .submenu {
  display: inline-block;
}
.submenu:hover {
  display: inline-block;
}
.menu__btn__name {
  display: none;
}

/* Card Styling */
.title,
.subtitle {
  color: var(--white--off);
  margin: 2rem 0;
}
.subtitle {
  color: var(--code-span);
}
.category {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.card {
  border: none;
  border-radius: 0;
  width: 80%;
  cursor: pointer;
}
.card__banner {
  border-radius: 0;
}
.card__title {
  margin: 0.5em 0.75em;
}
.card__content {
  padding-bottom: 1em;
  margin: 0 1em;
}
/* common */
.forgot {
  color: var(--button-float);
}

/* Media Query */
@media screen and (min-width: 768px) {
  .card {
    height: 20rem;
    width: auto;
  }
  .menu__btn__name {
    display: inline;
  }
  .navbar {
    border-radius: 2rem 0 2rem 0;
  }
}

@media screen and (min-width: 1650px) {
  body {
    width: auto;
    margin: auto;
  }
}
